<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/static/Themes/Style/index.css" />
	<link rel="stylesheet" type="text/css" href="/static/Themes/Style/setting.css" />
	<link rel="stylesheet" type="text/css" href="/static/Themes/Style/style.css"/>

		<script src="/static/Include/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Include/jquery/jquery.cookie.js"></script>
		<script src="/static/Include/media/csrf.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Include/Util.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Include/ListTable.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Include/FormEngine.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="../JS/Role.js"></script>
</head>
<body onload="Init_Select()">
		<div></div>
		<input type="button" value="返回"  onclick="goBack()">
		
</body>
</html>