<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/static/Themes/Style/index.css" />
		
		<link rel="stylesheet" type="text/css" href="/static/Themes/Style/style.css" />

		<script src="/static/Include/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Include/Util.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Include/ListTable.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/Include/FormEngine.js" type="text/javascript" charset="utf-8"></script>

		<script src="../JS/Role.js"></script>
	</head>

	<body onload="Init_Form()">

		<div class="main">
			<div class="main_header bg_header_1">
				<div class=" bg_header_2">
					<div class=" bg_header_3">角色管理</div>
				</div>
			</div>
			<div class="main_content">
				<div id="divForm" class="comclass"></div>
				<div id="divButton"><input type="button" value="保存" onclick="Form_Save()" /></div>
			</div>

		</div>
	</body>

</html>