<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>场景图片内容</title>
    <link rel="stylesheet" type="text/css" href="/CorsFace/Themes/Style/index.css" />
    <link rel="stylesheet" type="text/css" href="/CorsFace/Themes/Style/style.css" />
    <link rel="stylesheet" type="text/css" href="/CorsFace/Themes/Style/V31_faceInfo.css" />

    <style type="text/css">
        .HBBtn{margin-top : 160px !important;}
        .content_main_imgs{width : calc(80% - 440px);}
        .goback{position: absolute;right: 5px;top: 2px;}

    </style>
    <script type="text/javascript" src="/CorsFace/Include/respond.js"></script>
    <![endif]-->
    <script src="/CorsFace/Include/Util.js" type="text/javascript" charset="utf-8"></script>
    <script src="/CorsFace/Include/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../JS/V31_SenceImg.js"></script>

    <script src="/CorsFace/Include/layer/layer.js" type="text/javascript" charset="utf-8"></script>

    <style>
        html,body{
            background-color: #003b55;
        }
    </style>
</head>
<body>
<div class="main_faceINfo">
    <div class="alarm_media" style="margin-top: 40px;">
        <div class="content_head">
            抓取记录
        </div>
        <div id="media_BImg" class="media_BImg">
            <img src="" alt=""><div>场景图片</div>
        </div>
        <div class="media_images_wrap">
            <div id="media_images" class="media_images"></div>
        </div>
    </div>
</div>
</body>
</html>