<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>人脸追踪详情</title>
    <link rel="stylesheet" type="text/css" href="/static/Themes/Style/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/Themes/Style/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/Themes/Style/setting.css"/>
    <link rel="stylesheet" href="/static/Include/zTree/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="/static/Include/zTree/demo.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/Themes/Style/traceEntranc.css"/>

    <script src="/static/Include/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/Include/Util.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/Include/uploadjs/jquery.ui.widget.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/Include/uploadjs/jquery.fileupload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/Include/uploadjs/jquery.iframe-transport.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/Include/layer/layer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/JS/alarmjs/alarmCameraTree.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/Include/zTree/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="/static/Include/zTree/jquery.ztree.excheck.min.js"></script>
    <!-- //图片剪切 -->
    <script src="/static/Include/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/Include/laydate/formateDate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/Include/jcorp/jquery.Jcrop.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/Include/media/csrf.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/JS/facetrace/V31_FaceTraceEntrance.js" type="text/javascript" charset="utf-8"></script>

    <style>


    </style>
</head>

<body onload="Init_FaceTraceEntrance()">
<div class="main">
    <div class="procedure">
        <div><p id="use">使用流程</p></div>
        <div>
            <img alt="上传图片" src="/static/Themes/Images/ICON/trace/upload.png">
        </div>
        <p>1. 上传图片<br> 上传需要追踪的人物的图片（身份证、生活照、视频截图等）</p>
        <div>
            <img src="/static/Themes/Images/ICON/trace/arrows.png" alt="">
        </div>

        <div>
            <img id="edit" src="/static/Themes/Images/ICON/trace/edit.png" alt="检测与编辑">
        </div>
        <p>2. 人脸检测与编辑<br>根据图片中检测出的人脸进行编辑</p>
        <div>
            <img src="/static/Themes/Images/ICON/trace/arrows.png" alt="">
        </div>

        <div>
            <img src="/static/Themes/Images/ICON/trace/addPic.png" alt="选择图片">
        </div>
        <p>3. 人物检索和追踪<br>对上传照片中的人物进行检索与追踪</p>
    </div>

    <div class="alarm_media" id="showFaceTrack" style="display: none">
        <div id="media_BImg" class="media_BImg">
            <img src="" alt="">
        </div>
        <div id="media_images" class="media_images" style="top: 0px;">
        </div>

    </div>

    <div class="operateAear">

            <div class="main_header bg_header_1">
                <div class=" bg_header_2">
                    <div class=" bg_header_3">人物研判</div>
                </div>
            </div>
        <div class="borderz content" >

            <div class="trancediv">

                <div id="imgPrepare">
                    <div class="uploadImg">
                        <div>
                            <input type="file" id="fileupload" name="upload" mutiple>
                            <input type="button" id="uploadTest" value="上传图片">
                            <p>支持常见图片格式png、jpeg等,文件大小不超过1M</p>
                        </div>
                        <img class = "loadingImg hide" id="loadingImg" src="/static/Themes/Images/ICON/ping/loading.gif" alt="">
                    </div>
                    <input type="button" id="faceCompeare"  class ="hide" value="人员比对">
                    <div class="face_img_wrap">
                        <div class="scroll_x">

                        </div>

                    </div>

                </div>
            </div>
            <div  class="trancediv">
                <div class="content_select_title">
                    <h3 class="act" id="personSearch">人物检索</h3>
                    <h3 id="personTrace">轨迹追踪</h3>
                    <h3 id="personAttribute">属性分析</h3>
                </div>
                <div class="face_edit">
                    <div class="face_filter act" id="face_filter">
                        人物分组：
                        <select name="personGroup" id="personGroup">
                            <option value="">全部</option>
                        </select>
                        识别端：
                        <select name="recognize" id="recognize">
                        </select>
                        <input type="button" id="getPerson" value="人物检索">
                    </div>
                    <div class="face_filter" id="trace_filter">
                        识别端：
                        <select name="recognize" id="recognizeT">
                        </select>
                        <div class="" style="display: inline-block">
                            <span>摄像头：</span>
                            <div class="sel_wrap" >
                                <label id="citySelName">全部</label>
                                <input id="citySel" class="select"  value=""  onclick="showMenu(); return false;"/>
                            </div>
                            <div id="menuContent" class="menuContent" style="z-index: 10000;display:none; position: fixed;">
                                <ul id="treeDemo" class="ztree" style="margin-top:0; width:122px; height: 200px;"></ul>
                            </div>
                        </div>
                        时间：<input type="text" id="startTime"> - <input type="text" id="endTime">
                        <input type="button" id="getTrace" value="轨迹追踪">
                    </div>

                    <div class="face_filter" id="attr_filter">
                        识别端：
                        <select name="recognize" id="recognizeA">
                        </select>
                        <input type="button" id="getAttr" value="属性分析">
                    </div>
                </div>
            </div>
            <div class="trancediv" style="height: 546px;">
                <div class="form_title" style="margin: 20px 20px 0;border: 1px dashed #00ace4;">
                    <!--<h3 id="filter_type">人物检索</h3>-->
                </div>

                <div class="createAndtrace" id="personFilter">

                    <!--<div class="result_card">-->
                        <!--<div class="result_confidence">可信度：12.02%</div>-->
                        <!--<div class="result_img">-->
                            <!--<img src="/CorsFace/Attach/Upload/Person/201712/3045ef4f-7c65-46f1-a1b1-d043a132405f.jpg" onerror="imgNotFound(this)">-->
                        <!--</div>-->
                        <!--<div class="result_name">张舒梅</div>-->
                        <!--<div class="result_id">a</div>-->
                        <!--<div class="result_btn"><div class="result_detail" data-id="acb993be-8a0f-40d9-aeab-f8e40d1f63a0" onclick="goDetails('acb993be-8a0f-40d9-aeab-f8e40d1f63a0')">详情</div><div class="result_add" data-id="" onclick="merginPic(this, 'acb993be-8a0f-40d9-aeab-f8e40d1f63a0')">添加</div></div>-->
                    <!--</div>-->
                </div>
                <div class="createAndtrace hide" id="traceFilter">
                    <div class="trace_wrap">
                        <div class="trace_wrap_top"></div>
                        <div class="trace_line"></div>
                        <div class="trace_wrap_bottom"></div>
                        <!--<div class="facetrace_module">-->
                            <!--<div class="facetrace_module_img">-->
                                <!--<img src="/static/Upload/photo/e006ebea-08c8-11e8-80e0-408d5c8717d4.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="facetrace_module_info">-->
                                <!--<div class="facetrace_module_name">里尔</div>-->
                                <!--<div class="facetrace_module_camera">门口摄像头</div>-->
                                <!--<div class="facetrace_module_time">2018-1-2 08:09:11</div>-->

                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="createAndtrace hide" id="attrFilter">
                        <table id="attributeA">
                            <tr><td style="width: 160px">年龄</td><td>--</td></tr>
                            <tr><td>性别</td><td>--</td></tr>
                            <tr><td>民族</td><td>--</td></tr>
                            <tr><td>眼镜</td><td>--</td></tr>
                            <tr><td>表情</td><td>--</td></tr>
                            <tr><td>分析时间</td><td>--</td></tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modifyPic"></div>
<div id="createPersonByImg"></div>
</body>

</html>