/*添加用户*/
.main_addRule{
	width: 96%;
	margin: 0 auto;
}
.main{
	height: 100%;
	/*padding: 20px 0;*/
	box-sizing: border-box;

}
.main_addRule{
	height: 100%;
	box-sizing: border-box;
}
.addrules_content{
	height: calc(100% - 40px);
	box-sizing: border-box;
	border: 2px solid #00ace4;
	border-top: none;
	padding: 3% 3%;
}
.main_header {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 600;
	box-sizing: border-box;
	color: #83CCE4;
}
.addrules_content>div{
	height: 66px;
	font-size: 18px;
	color: #83cce4;
}
.alarm_level>div {
	width: 20%;
	float: left;
	line-height: 66px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 16px;
}
.alarm_level img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
}
input{
	background: #002c40;
	border: 1px solid #83cce4;
	width: 200px;
	height: 30px;
}
.voice{
	width: 10px;
	height: 10px;
	border: 1px solid #00ace4;
	display: inline-block;
	border-radius: 10px;
	margin-left: 30px;
}
#voice_auto{
	margin-left: 20px;
	padding-left: 10px;
}
.alarm_font{
	line-height: 30px;
	
}
.alarm_font textarea{
	width: 70%;
	height: 160px;
	background: #002c40;
	border: 1px solid #00ace4;
}

/*摄像头管理*/

.CameraSet_content{
	height: calc(100% - 40px);
	box-sizing: border-box;
	border: 2px solid #00ace4;
	border-top: none;
	position: relative;
	
}


#Box{
	position: absolute;
	width: 240px;
	height: 200px;
	top: 50px;
	right: 20px;
	box-sizing: border-box;

	
}

#Boxwrap{
	position: relative;
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	border: 1px dashed  #00ace4;
}
#BoxBtn{
	margin: 10px 50px;
}
#Boxmain{
	position: absolute;
	border: 1px solid red;
	box-sizing: border-box;
}
#CameraDetailsInfo{
	position: absolute;
	top: 460px;
	right: 65px;
}
#camera_vlc_wrap{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: 380px;
	background: #002c40;
	margin: auto;
	z-index: 4;

	
}
#camera_vlc_head{
position: relative;
	box-sizing: border-box;
	height: 40px;
}
#camera_vlc{
	border: 1px solid #00ace4;
	height: 340px;
	box-sizing: border-box;
}
#camera_vlc_close{
	position: absolute;
	top: 3px;
	right: 30px;
	cursor: pointer;
}
#camera_details_wrap{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: 680px;
	background: #002c40;
	margin: auto;
	z-index: 4;

}
#camera_details_head{
position: relative;
	box-sizing: border-box;
	height: 40px;
}
#camera_details{
	border: 1px solid #00ace4;
	height: 640px;
	box-sizing: border-box;
	overflow: auto;
}
#camera_details_close{
	position: absolute;
	top: 3px;
	right: 30px;
	cursor: pointer;
}
.search_wrap{
	height: 40px;
	font-size: 18px;
}
.search_wrap input{
	width: 250px;
	margin: 0 10px;
}
.form_btn{
	padding: 30px 30%;
}
.form_btn input[type="button"]{
	margin: 0 30px;
}
.new_user_btn {
	margin: 11px 0 0 23px;
}

.imgContainer {
	float: left;
}
.right{
	float: right;
}
.left{
	float: left;
}
.img_item{
	position: relative;
	overflow: hidden;
	margin-right: 20px;
	max-width: 144px;
}
.img_item img {
	width: 144px;
	height: 144px;
}
.img_mask {
	position: absolute;
	left: 0;
	top:0;
	display: none;
	width: 144px;
	height: 144px;
	background: rgba(0,0,0,0);
}
.img_hover{
	display: inline-block;
}
.btn-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.img_type{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 25px;
	line-height: 20px;
	/*background-color: rgba(16, 90, 129, 1);*/
	/*opacity:0.3;*/
}

.img_type .three_part1{
	display:inline-block;
	height:25px;
	width:30%;
	background-color:#1DB0AF;
}
.img_type .three_part2{
	display:inline-block;
	height:25px;
	width:30%;
	background-color:#066867;
}
.img_type .three_part3{
	display:inline-block;
	height:25px;
	width:30%;
	background-color:#072E2E;
}

.group_select {
	width: 20%;
	float: left;
}
.table_wrap {
	width: 100%;
	float: left;
}
.allot_table_wrap {
	width: 100%;
	padding-top:1px;/*处理外边距塌陷*/
}
.group_content {
	border: 2px solid #00ace4;
	border-top: none;
	overflow: auto;
	height: calc(100% - 45px);
}
.person_msg{
	position: relative;
	border-top: 1px solid #7eccef;
	padding: 0 20px;
	padding-top: 20px;
	margin-top: 20px;
}
.operation_wrap{
	position: relative;
	border-top: 1px solid #83CCE4;
}
.line_text{
	position: absolute;
	left: 20px;
	top:-10px;
	color: whitesmoke;
	font-weight: bold;
	background: #002c40;
	padding: 0 5px;
	padding-right: 0px;
	letter-spacing: 8px;
}
.filtrate_input {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 600;
	color: #83CCE4;
}
.filtrate_input_inline {
	float: left;
	margin-right: 10px;
}
.filtrate_input_inline input,
.filtrate_input_inline select{
	width: 80px;
	height: 26px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}
.person_msg_bg {
	border: 1px solid #0a71a2;
	border-left: 20px solid #0a71a2;
	border-right: 20px solid #0a71a2;
	padding: 10px 0;
	padding-left: 20px;
}
.addPersonGroup{
	position: absolute;
	right: 5px;
	top: 2px;
	width: 30px;
	margin: 0;
}
.deletePersonGroup{
	position: absolute;
	right: 35px;
	top: 2px;
	width: 30px;
	margin: 0;
}
.editPersonGroup{
	position: absolute;
	right: 65px;
	top: 2px;
	width: 30px;
	margin: 0;
}
#edit_person_btn{
	background: url("../Images/ICON/edit.png") no-repeat center;
	background-size: 22px 25px;
}
#delete_person_list{
	display: none;
	color: #83CCE4;
}
#delete_person_list li{
	list-style: none;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	background: url("../Images/ICON/uncheck.png") no-repeat  10px center;
	background-size: 20px 20px;
	padding-left: 50px;
	cursor: pointer;
}
#edit_person_list{
	display: none;
	color: #83CCE4;
}
#edit_person_list li{
	list-style: none;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	text-align: center;
}
#edit_person_list li input{
	width: 140px;
	height: 26px;
}
#delete_person_list .checked{
	background: url("../Images/ICON/checked.png") no-repeat  10px center;
}
.allot_search_title {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.allot_btn_group{
	text-align: center;
}
/*.allot_person_content{*/
/*height: 345px;*/
/*}*/
.place_right {
	/* float:right; */
	margin:5px;
}
.show_filtrate{
	height:40px;
	text-align: right;
	padding: 5px 30px;
	position: relative;
	box-sizing: border-box;
	padding-left: 9px;
	color: #fff;
}

#total_count{
	float: left;
	text-align: left;
	width: 20%;
}
.show_filtrate span{
	width: 30px;
	height: 30px;
	display: inline-block;
}
#table_filtrate_li{
	width: 140px;
	position: absolute;
	top: 35px;
	right: 10px;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #83CCE4;
	text-align: left;
	background: #002c40;
	z-index: 2;
}
#table_filtrate_li li{
	font-size: 14px;
	color: #83CCE4;
	padding-left: 30px;
	cursor: pointer;
}
#table_refresh{
	cursor: pointer;
	background: url("/CorsFace/Themes/Images/ICON/refresh.png") no-repeat center;
	display:none;
}
#table_filtrate{
	cursor: pointer;
	background: url("/CorsFace/Themes/Images/ICON/setting.png") no-repeat center;
	display:none;
}
.checked{
	background: url("/CorsFace/Themes/Images/ICON/checked.png") no-repeat center left;
}
.unchecked{
	background: url("/CorsFace/Themes/Images/ICON/uncheck.png") no-repeat center left;
}
.span_white{
	color:#83CCE4;
}

